.casilla de verificación {
    -material-diseño-color : #3f51b5 ;
    -material-diseño-color-transparente-12 : #3f51b51f ;
    -material-diseño-color-transparente-24 : #3f51b53e ;
    -material-diseño-color-transparente-40 : #3f51b566 ;
    ...
}

.casilla de verificación > .casilla {
    -fx-fondo-color : transparente;
    -fx-fondo-recuadros : 0 ;
    -fx-border-color : #0000008a ;
    -fx-borde-ancho : 2px ;
    -fx-border-radio : 2px ;
    -fx-relleno : 0.083333em ; /* 1px */
    -fx-text-fill : -fx-text-base-color;
    -fx-alineación : CENTRO;
    -fx-content-display : IZQUIERDA;
}